---
import SpellsGrid from '../../components/SpellsGrid/SpellsGrid.svelte';
import { classEmoji, classEmojiSorter } from '../../helpers/classEmoji';
import type { Class } from '../../interfaces/class';
import Layout from '../../layouts/Layout.svelte';
import { Debug } from 'astro/components';

import { getClasses, getSpellsByClass } from '../../lib/api';

export const getStaticPaths = async () => {
  const mainClasses = await getClasses();

  // Use Promise.all() to fetch spells for all main classes in parallel
  const promises = mainClasses.map(async (mainClass) => {
    const filteredSpells = await getSpellsByClass(mainClass.slug);
    return {
      params: { class: mainClass.slug },
      props: {
        mainClass: mainClass,
        spells: filteredSpells,
      },
    };
  });

  // Wait for all promises to resolve
  const pathsData = await Promise.all(promises);

  return pathsData;
};

const { mainClass, spells } = Astro.props;
---
<!-- <Debug {spells}/> -->
<Layout>
  <section>
    <h1 class="text-2xl pb-4">
      <span class="text-[40px] mr-3">{classEmojiSorter(mainClass.slug, classEmoji)}</span>
      {mainClass.name}
    </h1>
    <SpellsGrid spells={spells}/>
  </section>
</Layout>
