---
import Layout from '../../layouts/Layout.svelte';
import SpellsGrid from '../../components/SpellsGrid/SpellsGrid.svelte'
import type { Class } from '../../interfaces/class';
import { classEmoji, classEmojiSorter } from '../../helpers/classEmoji'

import { getClasses, getSpells } from '../../lib/api';

export const getStaticPaths = async () => {
  const mainClasses = await getClasses();
  const allSpells = await getSpells();

  return mainClasses.map((mainClass: Class) => {
    const filteredSpells = allSpells.filter((spell) =>
      spell.classes?.map((className) => className.index).includes(mainClass.index)
    );
    return {
      params: { class: mainClass.index },
      props: {
        mainClass: mainClass,
        spells: filteredSpells,
      },
    };
  });
};

const { mainClass, spells } = Astro.props;
---

<Layout>
  <section>
    <h1 class="text-2xl pb-4">
      <span class="text-[40px] mr-3">{classEmojiSorter(mainClass.index, classEmoji)}</span>
      {mainClass.name}
    </h1>
    <SpellsGrid spells={spells}/>
  </section>
</Layout>
