---
import Layout from '../../layouts/Layout.svelte';
import SpellsGrid from '../../components/SpellsGrid/SpellsGrid.svelte'
import { Debug } from 'astro/components';
import type { Class } from '../../interfaces/class';
import type { Spell } from '../../interfaces/spells';

import { getClasses, getSpells } from '../../lib/api';

export const getStaticPaths = async () => {
  const mainClasses = await getClasses();
  const allSpells = await getSpells();

  return mainClasses.map((mainClass: Class) => {
    const filteredSpells = allSpells.filter((spell) =>
      spell.classes?.map((className) => className.index).includes(mainClass.index)
    );
    return {
      params: { class: mainClass.index },
      props: {
        mainClass: mainClass,
        spells: filteredSpells,
      },
    };
  });
};

const { mainClass, spells } = Astro.props;
---

<Layout>
  <section>
    These are spells for {mainClass.index}
    <SpellsGrid spells={spells}/>
  </section>
</Layout>
