---
import SpellPage from '../components/SpellPage/SpellPage.svelte';
import type { Spell } from '../interfaces/spells';
import Layout from '../layouts/Layout.svelte';

import { getSpells } from '../lib/api';

export const getStaticPaths = async () => {
  const allSpells = await getSpells();

  return allSpells.map((currentSpell: Spell) => {
    return {
      params: { spell: currentSpell.slug },
      props: {
        spell: currentSpell,
      },
    };
  });
};

const { spell } = Astro.props;
---

<Layout>
  <section>
    <SpellPage {spell}/>
  </section>
</Layout>
