---
import ClassesGrid from '../components/ClassesGrid/ClassesGrid.svelte';
import Layout from '../layouts/Layout.svelte';
import { getClasses } from '../lib/api';

const classes = await getClasses()

---
<Layout>
	<section>
    <ClassesGrid classes={classes}/>
  </section>
</Layout>